<% @logs_php.each_pair do |key , val| -%>
[<%= key %>_fatal]
    user root
    env.logfile <%= val %>
    env.name PHPFatal
    env.label PHP Fatal errors
    env.search PHP Fatal
    env.category Logs
    env.type DERIVE
    env.draw LINE1
    env.colour ff0000
    env.critical 10
    env.warning 1

[<%= key %>_warning]
    user root
    env.logfile <%= val %>
    env.name PHPWarning
    env.label PHP Warning errors
    env.search PHP Warning
    env.category Logs
    env.type DERIVE
    env.draw LINE1
    env.colour ff8000
    env.critical 100
    env.warning 10

[<%= key %>_notice]
    user root
    env.logfile <%= val %>
    env.name PHPNotice
    env.label PHP Notice errors
    env.search PHP Notice
    env.category Logs
    env.type DERIVE
    env.draw LINE1
    env.colour 0080ff
    env.critical 1000
    env.warning 100

[<%= key %>_files]
    user root
    env.logfile <%= val %>
    env.name PHPFiles
    env.label File does not exist
    env.search File does not exist
    env.category Logs
    env.type DERIVE
    env.draw LINE1
    env.colour 00aaaa
    env.critical 1000
    env.warning 100

<% end -%>