---------------------------------------------------------------------------------------------------
__          __      _ ______              
\ \        / /     | |___  /                Config ............ : CLUSTER (<%= @cluster %>) / ROLES (<%= @roles %>) / ENV (<%= @env %>)
 \ \  /\  / /__  __| |  / / ___ _ __ ___    Name .............. : <%= @fqdn %>
  \ \/  \/ / _ \/ _` | / / / _ \ '_ ` _ \   IP ................ : <%= @ipaddress %>
   \  /\  /  __/ (_| |/ /_|  __/ | | | | |  Puppet / Facter ... : <%= @puppetversion %> / <%= @facterversion %>
    \/  \/ \___|\__,_/_____\___|_| |_| |_|  Operating System .. : <%= @operatingsystem %> <%= @operatingsystemrelease %><% if has_variable?("architecture") then %> / <%= @architecture %><% end %>
---------------------------------------------------------------------------------------------------