# File managed by Puppet
log_facility=daemon
pid_file=<%= scope.lookupvar('nrpe::pid_file') %>
server_port=<%= scope.lookupvar('nrpe::port') %>
<% if scope.lookupvar('nrpe::server_address') != '' -%>server_address=<%= scope.lookupvar('nrpe::server_address') %><% end %>
nrpe_user=admin
nrpe_group=admin
allowed_hosts=<% if @allowed_hosts.class == Array then %><%= @allowed_hosts.flatten.join(',') %><% else %><%= @allowed_hosts %><% end %>
dont_blame_nrpe=<%= scope.lookupvar('nrpe::dont_blame_nrpe') %>
<% if scope.lookupvar('nrpe::command_prefix') != '' -%>command_prefix=<%= scope.lookupvar('nrpe::command_prefix') %><% end -%>
debug=0
command_timeout=<%= scope.lookupvar('nrpe::command_timeout') %>
connection_timeout=<%= scope.lookupvar('nrpe::connection_timeout') %>
#allow_weak_random_seed=1
include_dir=<%= scope.lookupvar('nrpe::config_dir') %>/

# COMMAND DEFINITIONS
command[check_users]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_users -w 5 -c 10
command[check_load]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_load -w 15,10,5 -c 30,25,20
command[check_disk_var]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_disk -u GB -w 20% -c 10% --p=/var
command[check_disk_dev]=/<%= scope.lookupvar('nrpe::pluginsdir') %>/check_disk -u GB -w 20% -c 10% --p=/dev
command[check_disk_home]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_disk -u GB -w 20% -c 10% --p=/home
command[check_disk_tmp]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_disk -u GB -w 20% -c 10% --p=/tmp
command[check_disk_usr]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_disk -u GB -w 20% -c 10% --p=/usr

command[check_zombie_procs]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_procs -w 5 -c 10 -s Z
command[check_total_procs]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_procs -w 200 -c 300
command[check_www-data_procs]=/usr/lib/nagios/plugins/check_procs -w 30 -c 50 -u www-data
command[check_smtp]= <%= scope.lookupvar('nrpe::pluginsdir') %>/check_smtp -H 127.0.0.1
command[check_ftp]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_ftp -H 127.0.0.1
command[check_mailq]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_mailq -w 70 -c 100
command[check_mysql]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_mysql -uroot -pmireuil12!
command[check_ssh]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_ssh -p 22 -H127.0.0.1
command[check_trafficeth1]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_iftraffic_nrpe.pl -i eth1 -b 1000 -u m

command[check_memcached]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_tcp -H 127.0.0.1 -p11211 -E -s 'version\n' -e 'VERSION' -j -w2 -c5 -t5
command[check_memcached-mobi]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_tcp -H 127.0.0.1 -p11212 -E -s 'version\n' -e 'VERSION' -j -w2 -c5 -t5
command[check_backend]=<%= scope.lookupvar('nrpe::pluginsdir') %>/check_backend.sh
command[check_nfs]=sudo <%= scope.lookupvar('nrpe::pluginsdir') %>/check_nfs $ARG1$ $ARG2$ $ARG3$ $ARG4$













